@{
    ViewBag.Title = "Admin";
}

<h1>Admin</h1>

<div class="list-group col-6">
    <a asp-area="Admin" asp-controller="Category" asp-action="List" 
       class="list-group-item">
        Manage Categories
    </a>
    <a asp-area="Admin" asp-controller="Product" asp-action="AdminList" 
       class="list-group-item">
        Manage Products
    </a>
</div>
